{:paths ["src"]
 :deps  {missionary/missionary {:mvn/version "b.23"}
         com.taoensso/timbre   {:mvn/version "5.1.2"}}
 :aliases
 {:dev
  {:extra-deps
   {meander/epsilon     {:mvn/version "0.0.650"}
    com.taoensso/encore {:mvn/version "3.10.1"}}
   :extra-paths ["test"]}

  :build
  {:extra-paths ["build"]
   :extra-deps  {io.github.clojure/tools.build {:git/tag "v0.1.9" :git/sha "6736c83"}
                 slipset/deps-deploy           {:mvn/version "RELEASE"}}
   :exec-fn     build/jar}
  :deploy
  {:extra-paths ["build"]
   :extra-deps  {io.github.clojure/tools.build {:git/tag "v0.1.9" :git/sha "6736c83"}
                 slipset/deps-deploy           {:mvn/version "RELEASE"}}
   :exec-fn     build/clojars}
  :cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.16.6"}}}}}
