{:paths ["src/main" "resources"]
 :deps {missionary/missionary {:mvn/version "b.26"}
        com.taoensso/timbre {:mvn/version "5.1.2"}
        com.github.ribelo/fatum {:mvn/version "0.0.31"}}
 :aliases
 {:dev
  {:extra-deps {nrepl/nrepl {:mvn/version "0.7.0"}
                cider/cider-nrepl {:mvn/version "0.25.2"}}
   :extra-paths ["test"]}

  :build
  {:extra-paths ["build"]
   :extra-deps {io.github.clojure/tools.build {:git/tag "v0.1.9" :git/sha "6736c83"}
                meander/epsilon {:mvn/version "0.0.650"}
                slipset/deps-deploy {:mvn/version "RELEASE"}}
   :exec-fn build/jar}
  :deploy
  {:extra-paths ["build"]
   :extra-deps {io.github.clojure/tools.build {:git/tag "v0.1.9" :git/sha "6736c83"}
                meander/epsilon {:mvn/version "0.0.650"}
                slipset/deps-deploy {:mvn/version "RELEASE"}}
   :exec-fn build/clojars}
  :cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.16.6"}}}}}
